

.container-fluid {
    margin-top: 70px;
    margin-right: 50px;
}

thead tr {
	color: red;
}

.t_order {
	width: 110px;
}

.t_description {
	width: 220px;
}

.t_name {
	width: 190px;
}

.t_caption {
	text-align: center;
	font-size: 14px;
	font-family: Verdana;
	padding: 20px;
}

.photo {
	width: 300px;
	margin: 15px;
}

.photos {
	text-align: center;
	background-color: #ddd;
}

caption {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #4ba4e6;
}

footer {
    margin: 80px;
}

.rounded_button {
    background: -moz-linear-gradient(#a8e2f4, #41a6d0, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#a8e2f4), to(#D0ECF4), color-stop(0.5, #41a6d0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');

    color: #fdfdfd;
    font-weight: bold;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #bfbfbf;
    padding: 3px 7px;
}
